@font-face {
    font-family: 'DungGeunMo';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DungGeunMo.eot");
    src: url("../fonts/DungGeunMo.eot?#iefix") format('embedded-opentype'),
    url("../fonts/DungGeunMo.woff") format('truetype');
}

/* RESET */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul,
ol {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

/* DEFAULT-STYLE */
body {
    max-width: 100vw;
    background-color: #000084;
    color: #eee;
    font-size: 16px;
    line-height: 1.5;
    font-family: DungGeunMo, sans-serif, monospace;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

a {
    color: inherit;
    outline: 0;
    text-decoration: none;
}

/* FUNCTIONAL CLASS */
.hidden {
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
}

/* FORM */
input[type="text"],
input[type="password"],
textarea,
select,
input[type="checkbox"] + label,
input[type="radio"] + label{
    border-radius: 0;
    color: #eee;
    font: 16px/1.5 DungGeunMo, sans-serif, monospace;
    vertical-align: middle;
}

em {
    font-style: normal;
}

a:focus {
    outline: none;
}

a::selection {
    background: transparent;
    pointer-events: none;
}

header {
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
}

header h1 {
    padding: 30px 0;
    color: #bbb;
    font-size: 40px;
}

main {
    width: 1020px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    border-top: 3px solid #fff;
}

main a {
    color: #ffff44;
}

main a:hover {
    background-color: #aa5500;
}

main nav {
    padding: 20px 0;
}

main nav ul {
    overflow: hidden;
}

main nav ul li {
    float: left;
}

main nav ul li + li {
    margin-left: 15px;
}

main nav ul li a {
    color: #bbb;
    font-size: 18px;
}

article {
    margin-top: 10px;
}

article .intro {
    position: relative;
    margin: 0 auto 10px;
    padding: 60px;
    background-color: #00AAAA;
    box-shadow: 10px 10px 0 #000000;
}

article .intro h2 {
    margin-bottom: 40px;
    color: #000;
    font-size: 40px;
}

article .intro p {
    font-size: 18px;
    text-align: right;
}

section {
    margin-top: 70px;
    padding: 0 30px;
}

section .row {
    display: table;
    table-layout: fixed;
    width: 100%;
}

section .row + .row {
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #fff;
}

section .row > * {
    display: table-cell;
    vertical-align: top;
}

section .row .key {
    width: 240px;
}

section .row .key h2 {
    position: relative;
    color: #fff;
    font-weight: 400;
    font-size: 32px;
}

section .row .key h2:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100px;
    background-color: #fff;
}

section .row .value {
    padding-left: 50px;
}

section .row.keyword .keyword-list {
    font-size: 20px;
}

section h3 {
    margin: 50px 0 10px;
    font-weight: 400;
}

section .portfolio-list li {
    display: flex;
    flex-direction: row;
}

section .portfolio-list li + li {
    margin-top: 30px;
}

section .portfolio-list li .thumb {
    flex: 0 0 150px;
}

section .portfolio-list li .thumb .img {
    position: relative;
    padding-top: 66.666666666%;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 10px 10px 0 #000000;
}

section .portfolio-list li .description {
    flex: 1 1 auto;
    padding-left: 30px;
}